/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --sp-dark: #000000;
    --sp-graydark: #141922;
    --sp-lightgray: #a3a3a3;
    --sp-gray: #72757a;
    --sp-greenyellow: #adff2f;
    --sp-grayfooter: #282828;

}

body{

    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}

/* default set */

/* debug */

.debug{

    border: 1px solid black;
    height: 100%;
}

.debug .top{

    background-color: #ff5f5f;

}

.debug footer{

    background-color: rgb(46, 151, 151);

}

.debug .sidebar{

    background-color: rgb(160, 119, 69);

}

.debug .content{

    background-color: blue;
    
}

.debug .container{

    background-color: rgb(145, 145, 145);
    
}

.debug #banner_upgrade{

    background-color: #5a5c04;
    

}


.debug .image,.text{

    width: calc( 100% / 12 * 6);

}


/* debug */

/* utility */

.d_flex{

    display: flex;

}

.direction_column{

    flex-direction: column;

}

.center{

    justify-content: center;

}

.flex_end{

    justify-content: flex-end;

}


/* utility */

/* layout */

.top{

    height: calc(100vh - 70px);

}

.top > .sidebar {

    width: 180px;
    overflow: hidden;

}

.top > .sidebar_top {

    height: calc( 100% - 60px);

}

.top > .sidebar_bottom {

    height: 60px;
    overflow: hidden;
}

.top > .content {

    width: calc(100% - 180px);
    overflow-y: auto;
    height: 100%;
}

.container{

    width: 100%;
}

#banner_upgrade{

    width: 20%;
    

}

.link{

    padding: 10px;

}

.title{

    padding: 1rem 0;

}

.image,.text{

    width: calc( 100% / 12 * 6);
    height: 100px;
}



/* layout */