/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --sp-dark: #000000;
    --sp-graydark: #141922;
    --sp-lightgray: #a3a3a3;
    --sp-gray: #72757a;
    --sp-greenyellow: #adff2f;
    --sp-grayfooter: #282828;

}

body{

    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}

/* default set */

/* debug */

.debug{

    border: 1px solid black;
    
}

.debug .top{

    background-color: #ff5f5f;

}

.debug footer{

    background-color: rgb(46, 151, 151);

}

.debug .sidebar{

    background-color: rgb(160, 119, 69);

}

.debug .content{

    background-color: blue;
    
}

.debug .container{

    background-color: rgb(100, 87, 87);
    
}

/* .debug #banner_upgrade{

    background-color: #5a5c04;
    

} */


.debug .image,.text{

    background-color: brown;

}

.debug .bottom_content{

    
    background-color: rgb(201, 127, 6);

}

.debug .central{

    
    background-color: rgb(171, 150, 114);

}

.debug .music_playing{

    background-color: #305db1;

}

/* debug */

/* utility */

.d_flex{

    display: flex;

}

.direction_column{

    flex-direction: column;

}

.center{

    justify-content: center;

}

.flex_end{

    justify-content: flex-end;

}

.space_between{

    justify-content: space-between;

}


/* utility */

/* layout */

.top{

    height: calc(100vh - 70px);

}

.top > .sidebar {

    width: 20%;
    overflow: hidden;
    line-height: 1.6;
    background-color: var(--sp-dark);

}

.top > .sidebar_top {

    height: calc( 100% - 60px);

}

.top > .sidebar_bottom {

    height: 60px;
    overflow: hidden;
}

#logo{

    height: 50px;
    margin: 10px;

}

.svg_sidebar{

    height: 20px;

}

.sidebar_item{

    margin: 10px;
    color: var(--sp-gray);
    font-weight: bold;
    font-size: 12px;

}

#download{

    filter: opacity(0.4);
    vertical-align: middle;

}

.list_item{

    list-style: none;

}

hr{

    margin: 5px;
}

#playlist,#user{

    color: white;
    padding: 5px 0;

}

#profile{

    background-color: var(--sp-lightgray);
    border-radius: 50%;
    padding: 2px;
    vertical-align: middle;
    margin: 5px;
}

.fa-solid{

    background-color: var(--sp-lightgray);
    color: #000000;
    padding: 10px;
    font-size: large;
}

.top > .content {

    width: calc(100% - 20%);
    overflow-y: auto;
    height: 100%;
}

.container{

    width: 100%;
    
}

.banner{

    background-color: var(--sp-graydark);
    position: sticky;
    top: 0px;
}

#banner_upgrade{

    width: 20%;
    padding: 10px 20px;
    margin: 15px 2px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    

}

.link{

    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: var(--sp-gray);
}

.title{

    padding: 1rem 0;

}

.image{

    width: calc( 100% / 12 * 6);
    height: 100px;
}

.smaller{

    width: 20%;

}

.bottom_content{

    width: 20%;
    height: 68px;

}

.bottom_content{

    width: 20%;
    height: 68px;

}

.central{

    width: 60%;

}

.music_playing{

    width: 100%;

}


/* layout */


/* media query */

@media screen and ( min-width: 320px ) and ( max-width: 480px ) {
       
        .container{

            width: 100%;
            flex-wrap: wrap;
            overflow: hidden;
        }

        .link{

            text-align: center;
            flex-wrap: unset

        }

        .smaller{

            width: 50%;
            
        }

}


@media screen and ( min-width: 481px ) and ( max-width: 768px ) {
       
    .container{

        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .image{

        width: 25%;

    }

    .smaller{

        width: 50%;
        
    }

}

@media screen and ( min-width: 769px ) and ( max-width: 1120px ) {
       
    .container{

        width: 100%;
        overflow: hidden;
    }

    

}