/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --sp-dark: #000000;
    --sp-graydark: #141922;
    --sp-bannerdark: #080b12;
    --sp-lightgray: #a3a3a3;
    --sp-gray: #72757a;
    --sp-greenyellow: #adff2f;
    --sp-grayfooter: #282828;

}

body{

    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}

/* default set */

/* debug */

/* .debug{

    border: 1px solid black;
    
} */

/* .debug .top{

    background-color: #ff5f5f;

} */

/* .debug footer{

    background-color: rgb(46, 151, 151);

} */

/* .debug .sidebar{

    background-color: rgb(160, 119, 69);

} */

/* .debug .content{

    background-color: blue;
    
} */

/* .debug .container{

    background-color: rgb(100, 87, 87);
    
} */

/* .debug #banner_upgrade{

    background-color: #5a5c04;
    

} */


/* .debug .image,.text{

    background-color: brown;

} */

/* .debug .bottom_content{

    
    background-color: rgb(201, 127, 6);

} */

/* .debug .central{

    
    background-color: rgb(171, 150, 114);

}

.debug .music_playing{

    background-color: #305db1;

} */

/* debug */

/* utility */

.d_flex{

    display: flex;

}

.direction_column{

    flex-direction: column;

}

.center{

    justify-content: center;

}

.flex_end{

    justify-content: flex-end;

}

.space_around{

    justify-content: space-around;

}

.space_between{

    justify-content: space-between;

}

.border_radius{

    border-radius: 50%;

}

.row_reverse{

    flex-direction: row-reverse;

}



/* utility */

/* layout */

.top{

    height: calc(100vh - 70px);

}

.top > .sidebar {

    width: 20%;
    overflow: hidden;
    line-height: 1.6;
    background-color: var(--sp-dark);

}

.top > .sidebar_top {

    height: calc( 100% - 60px);

}

.top > .sidebar_bottom {

    height: 60px;
    overflow: hidden;
}

#logo{

    height: 50px;
    margin: 10px;

}

.svg_sidebar{

    height: 20px;

}

.sidebar_item{

    margin: 10px;
    color: var(--sp-gray);
    font-weight: bold;
    font-size: 12px;

}

#download{

    filter: opacity(0.4);
    vertical-align: middle;

}

.list_item{

    list-style: none;

}

hr{

    margin: 5px;
}

#playlist,#user{

    color: white;
    padding: 5px 0;

}

#user{

    margin-bottom: -1rem;

}

#profile{

    background-color: var(--sp-lightgray);
    border-radius: 50%;
    padding: 2px;
    vertical-align: middle;
    margin: 5px;
}

.fa-solid{

    background-color: var(--sp-lightgray);
    color: #000000;
    padding: 10px;
    font-size: large;
}

.top > .content {

    width: calc(100% - 20%);
    overflow-y: auto;
    height: 100%;
    background-color: var(--sp-graydark);
}

.container{

    width: 100%;
    background-color: var(--sp-graydark);
}

.banner{

    background-color: var(--sp-bannerdark);
    position: sticky;
    top: -1px;
}

#banner_upgrade{

    width: 20%;
    padding: 10px 20px;
    margin: 15px 2px;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    

}

.link{

    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: var(--sp-gray);
}

.title{

    padding: 1.5rem 20px;
    color: white;
    font-weight: bolder;

}

.suggest{

    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    color: var(--sp-gray);
    margin-top: -1.5rem;

}

.image{

    width: calc( 100% / 12 * 6);
}

.img_container{

    width: 100%;
    text-align: center;

}

.album{

    max-width: 100%;
    height: 150px;
    
}

#text_fix{

    padding: 0;
    text-align: start;

}

.text_up{

    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    font-size: 13px;

}

.text_down{

    font-size: 10px;
    font-weight: bold;
    color: var(--sp-gray);
    text-align: center;

}

.smaller{

    width: 16.5%;

}

.bottom_content{

    width: 20%;
    height: 68px;
    align-items: center;
    background-color: var(--sp-grayfooter);
}

#box_img{

    width: 20%;
    padding: 10px;
}

#img_footer{

    max-width: 100%;


}

#icon_footer{

    margin-left: 90px;
    color: var(--sp-gray);
    
}

.detail_footer .fa-regular{

    padding: 10px;

}


.central{

    width: 60%;

}

.music_playing{

    width: 100%;

}

.multimedia{

    width: 25%;
    margin: 5px auto;
    color: white;
    
}

.music_playing>.fa-regular{

    font-size: 25px;

}

.music_playing>.fa-solid{

    color: white;
    background-color: var(--sp-grayfooter);
    padding: 5px;
}

.time{

    font-size: 10px;
    color: white;
    padding: 5px;
}

.music_bar{

    width: 50%;
    background-color: var(--sp-gray);
    height: 5px;
    margin: 8px;
    border-radius: 25px;

}

.bar_inside{

    width: 20%;
    background-color: var(--sp-lightgray);
    height: 5px;
    border-radius: 25px;

}

.detail_footer_right{

    width: 50%;
    justify-content: flex-end;
}

.detail_footer_right>.music_bar{

    width: 80%;

}

.detail_footer_right .fa-solid{

    background-color: var(--sp-grayfooter);
    color: white;
    font-size: 10px;
}


/* layout */


/* media query */

@media screen and ( min-width: 320px ) and ( max-width: 480px ) {
       
        .container{

            width: 100%;
            flex-wrap: wrap;
            overflow: hidden;
        }

        .link{

            text-align: center;
            flex-wrap: unset

        }

        .smaller{

            width: 50%;
            
        }

}


@media screen and ( min-width: 481px ) and ( max-width: 768px ) {
       
    .container{

        width: 100%;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .image{

        width: 25%;

    }

    .smaller{

        width: 50%;
        
    }

}

@media screen and ( min-width: 769px ) and ( max-width: 1120px ) {
       
    .container{

        width: 100%;
        overflow: hidden;
    }

    

}